.app__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 300px;

  text-align: center;

  @include media-laptop {
    margin-top: 0;
  }
  &__title {
    margin-bottom: 60px;
    padding-top: 15%;

    font-weight: 300;
    font-size: 32px;
    line-height: 1;
    color: #6cffde;
    text-transform: uppercase;
    letter-spacing: 13px;

    opacity: .8;

    @include media-laptop {
      margin-bottom: 45px;
    }
    @include media-mobile {
      margin-bottom: 15px;

      font-size: 25px;
    }
  }
  &__text {
    max-width: 565px;
    margin: 0 auto 58px;

    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: $text-color;

    opacity: .8;

    @include media-laptop {
      margin-bottom: 35px;
    }
    @include media-mobile {
      font-size: 15px;
    }
  }
}
