.sparkle-container {
  position: absolute;
  bottom: -30px;
  left: 50%;

  min-width: 95px;
  height: 95px;
  margin-left: -20px;
}

.sparkle {
  position: absolute;

  width: 6px;
  height: 6px;

  background: white;
  border-radius: 100%;

  animation: twinkle 3s infinite;
}

.sparkle-circle-one {
  bottom: 53px;
  left: -14px;

  animation-delay: 2s;
}

.sparkle-circle-two {
  bottom: 93px;
  left: 15px;

  animation-delay: -2.2s;
}

.sparkle-circle-three {
  bottom: 30px;
  left: 6px;

  animation-delay: 0.4s;
}

.sparkle-circle-four {
  bottom: 8px;
  left: 55px;

  animation-delay: 1s;
}

.sparkle-dot-one {
  top: 11px;
  left: -6px;

  animation-delay: -2.6s;
}

.sparkle-dot-two {
  top: 58px;
  left: 31px;

  animation-delay: -2.6s;
}

.sparkle-dot-three {
  top: 36px;
  left: 46px;

  animation-delay: -2.6s;
  animation-delay: 1.1s;
}

.sparkle-dot-four {
  top: 5px;
  left: 38px;

  animation-delay: -2.6s;
  animation-delay: 0.4s;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}
