$main-color: #00c49d;
$text-color: #fff;
$wrong-color: rgba(223, 31, 24, 0.753);
$text-shadow: #023f33;
$dark-main-color: #065747;
$border-color: #9dc7b3;
$chosen-color: #9dc7b3;
$hover-color: #51857c;
$correct-word-color-1: #A0C55F;
$correct-word-color-2: #c5be5f;
$correct-word-color-3: #ebdb1a;;
$correct-word-color-4: #c59e5f;
$correct-word-color-5: #c5845f;
$correct-word-color-6: #68c55f;
$correct-word-color-7: #5fc586;
$correct-word-color-8: #5fc5b8;
$correct-word-color-9: #9c5fc5;
$correct-word-color-10: #c55fb8;
