$color-1: #3d7b80;
$color-2: #77b1a9;
$color-3: #b1e6d1;
$color-4: #77b1a9;
$color-5: #3d7b80;
$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%,
    100% {
      opacity: 0;
    }
  }
}

.preloader__conatiner {
  height: 100%;

@include media-tablet {
    margin-top: 200px;
  }

@include media-mobile {
    margin-top: 0;
  }
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;

  animation-delay: 1s;
  &__info {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;

    text-align: center;
    color: $text-color;

@include media-tablet {
      display: none;
    }

@include media-mobile {
      margin-top: 0;

      font-size: 1.5rem;
    }
  }
}

@for $i from 1 through 5 {
  .item-#{$i} {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 7px;

    background: #f583a1;
    background-color: nth($color, $i);
    border-radius: 50%;

@include anim();

    &:before {
      content: "";

      width: 20px;
      height: 20px;

      background-color: nth($color, $i);
      border-radius: 50%;
      transform: scale(1);
      opacity: .7;

      transition: .5s all ease;
      animation: scale 2s infinite cubic-bezier(0, 0, .49, 1.02);
      animation-delay: 200ms * $i;
    }
  }
}

.countdown {
  width: 100px;
  height: 20px;
  margin: 0 auto;

  font-size: 2.5em;
  text-align: center;
  color: $text-color;

@include media-mobile {
    font-size: 2rem;
  }
}

.keyboard {
  display: block;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.current-level {
  height: 50px;
  margin-bottom: 50px;

  font-size: 3rem;
  text-align: center;
  color: #ffffff;

@include media-mobile {
    margin-bottom: 19px;

    font-size: 2rem;
  }
}
