html {
  font-size: 10px;
}

body {
  display: -webkit-flex;
  display:         flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  background-image: $color-body;
  background-size: cover;
  background-blend-mode: multiply, multiply;

  @extend %font-prim;
  @include font($size: 1.6rem, $height: 1.25rem, $weight: normal);
}
