$about-header-color: #666d89;
$about-text-color: #666d89;
$about-person-header-color:#666d89;
$about-person-text-color:#666d89;
$about-border-color: #02cead;

.about-us {
  padding: 59px 30px 18px;
  color: $about-text-color;
  &__header{
    text-align: center;
    text-transform: uppercase;
    color: $about-header-color;
  }
  &__text{
    text-align: justify;
    color: $about-text-color;

    &_centered{
      text-align: center;
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &__cards-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 0;
  }

}

.person {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin: 0 3% 24px;
}

.person__photo {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 $about-person-text-color;
  background-color: $about-person-text-color;
  max-height: 300px;
}

.person__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

.social_about {
  margin-top: auto;
  padding-left: 1px;
}

.social__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 32px;
  width: 32px;
  box-shadow: 0 1px 3px 0 $about-person-text-color;
  border-radius: 50%;
  background-position: center;
  background-size: 34px;
  background-repeat: no-repeat;
  background-image: url(/src/assets/svg/github.svg);
  background-color: $about-person-text-color;
  color: $about-person-text-color;
  &:hover{
    cursor: pointer;
    color: $about-border-color;
    background-color: $about-border-color;
    box-shadow: 0 1px 3px 0 $about-border-color;
  }
}
.github-name{
  position: relative;
  left: 40px;
}
.social :not(:last-child) {
  margin-right: 4px;
}

@media (min-width: 768px) and (max-width: 1019px) {
    .about-us {
    padding: 52px 30px 20px;
  }

  .about-us__cards-block {
    padding-top: 38px;
  }

  .person__photo {
    width: 100%;
    margin-bottom: 13px;
  }

  .person-description {
    padding-bottom: 10px;
  }

  .person-description .description__text {
    padding-top: 0px;
  }

}

@media (max-width: 767px) {


  .about-us {
    padding: 33px 20px 11px;
    border-bottom: 0;
  }

  .about-us__cards-block {
    padding: 25px 10px 0px;
    justify-content: center;
  }

  .person {
    width: 100%;
    max-width: 390px;
    margin: 0 0 24px 0;
  }

  .person__photo {
    width: 100%;
  }

  .person-description {
    padding-bottom: 10px;
  }

  .person-description .description__text {
    padding-top: 2px;
  }
}

@media(max-width:373px) {
  .filter__button {
    margin-right: 0;
    padding: 0 3px
  }
}
