$color-header: radial-gradient(circle, rgba(141, 218, 213, 1) 0%, rgba(0, 205, 172, 1) 100%);
$color-body: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
$color-menu-elements: #ffffffc7;
$color-menu-elements-hover: #ffffff;
$color-navigation-background: #65c3ba;
$color-navigation-link-active: #63410f;
$color-modal-settings: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
$color-incorrect-low: orange;
$color-incorrect-heavy: red;
$color-letter: green;
$color-username: red;

//modal-window
$modal-background: #ffffff;
$modal-button-color: #ffffff;
$modal-button-background-color: #19396e;
$modal-button-hover-background-color: #ffffff;

//short-stat
$short-stat-border-color: #80808080;
$short-stat-error-text: #ff5722;
