$color-header: radial-gradient(circle, rgba(141, 218, 213, 1) 0%, rgba(0, 205, 172, 1) 100%);
$color-body: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
$color-menu-elements: #ffffffc7;
$color-menu-elements-hover: #ffffff;
$main-color: #00c49d;
$text-color: #fff;
