.app__button_word-search {
  background: $dark-main-color;

  &:hover {
    color: $main-color;

    border: 1px solid $dark-main-color;
  }
}

.word-search_cancel {
  color: $dark-main-color;
}

.word-search_close {
  background: $dark-main-color;
}