.auth {
  &__button {
    width: 100px;

    background-color: transparent;
    border: 1px solid;
    cursor: pointer;

    @extend %transition;
    @include font($size: 1.6rem, $height: 2.7rem, $color: #ffffffc7);
  }

  &__button:hover {
    color: #ffffff;
  }

  .log-in {
    margin-right: 15px;
  }
}
