.card {
  font-size: 1.2em;
  font-family: monospace;

  &__state {
    margin: 10px;

    font-size: 1.6rem;
    color: #a44a3f;
  }

  &__input-wrapper {
    position: relative;

    display: inline-block;
  }

  &__hint-container {
    position: absolute;
    top: 6px;
    left: 4px;

    &--invisible {
      opacity: .3;

      transition: 4s linear;
      animation: letters-animation 3s;

      @keyframes letters-animation {
        from {
          opacity: 1;
        }

        to {
          opacity: .3;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
  }

  &__letter {
    color: $color-letter;
  }

  &__incorrect-low {
    color: $color-incorrect-low;
  }

  &__incorrect-heavy {
    color: $color-incorrect-heavy;
  }

  &__text-translate {
    text-align: justify;
  }

  &__word-translate {
    margin-top: 0;

    text-align: center;
    color: #fd9404;
  }

  &__transcription {
    color: #588b8b;
  }

  &__btn-primary {
    margin-bottom: 10px;
    padding: 7px 35px;

    color: #ffffff;

    background: #011627;
    border: none;
    border-radius: 9px;
    outline: none;
  }

  &__btn-know-word {
    background: #2ec4b6;
  }

  &__btn-difficult-word {
    background: #e71d36;
  }

  &__btn-show-answer {
    background: #ff9f1c;
  }

  &__btn-check {
    width: 200px;
    margin-top: 10px;

    background: #011627;
  }

  .translate-hidden {
    display: none;
  }
}

@media (max-width: 610px) {
  .card {
    &__btn-primary {
      width: 200px;
    }

    &__buttons-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 550px) {
  .card {
    &__image {
      width: 275px;
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}
