.ep__button {
  width: 200px;
  height: 40px;
  margin-left: 10px;

  color: #ffffff;

  background-color: #00cdac;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #8ddad5;
    box-shadow: 2px 2px 3px 1px #00cdac;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.tips__button {
  width: 40px;
  height: 40px;

  background-size: cover;

  &_active {
    background-color: #8ddad5;
    border: 2px solid white;
  }
  &_translate {
    background-image: url(/src/assets/images/ep-icons/ep-tip.png);
  }
  &_speech {
    background-image: url(/src/assets/images/ep-icons/ep-melody.png);
  }
  &_background {
    background-image: url(/src/assets/images/ep-icons/ep-gallery.png);
  }
}

.speech-animation {
  background-color: rgba(0, 0, 0, 0);
  animation: 0.7s ease-in-out 0s infinite alternate speech-anim;
  &:hover {
    background-color: rgba(0, 0, 0, 0);;
    box-shadow: none;
  }
}

@keyframes speech-anim {
   from { transform: scale(1.2) }
   to { transform: scale(0.8) }
}