.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding: 0 20px;

  .user-name {
    display: none;
  }

  input {
    padding: 3px 10px;

    border: 1px solid #cccccc;
    border-radius: 3px;
  }

  input::placeholder {
    opacity: .6;
  }

  .user-name--active {
    display: block;
  }

  .email-error-message,
  .password-error-message,
  .user-name-error-message {
    padding: 0;

    text-align: justify;

    visibility: hidden;

    @include font($size: 1.1rem, $weight: normal, $color: red);
  }

  .email-error-message,
  .user-name-error-message {
    padding-bottom: 10px;
  }

  .email-error-message--active,
  .password-error-message--active,
  .user-name-error-message--active {
    visibility: visible;
  }

  &__button {
    margin: 0;

    font-size: 1.8rem;
  }

  &__login-message {
    text-align: center;

    cursor: pointer;

    @include font($size: 1.1rem, $weight: normal);
  }

  &__login-selection {
    padding-left: 10px;

    cursor: pointer;

    @include font($size: 1.4rem, $weight: normal, $color: #d00d0d);
  }

  & * {
    margin-bottom: 5px;
  }
}

@media (max-width: 835px) {
  .form {
    .email-error-message,
    .user-name-error-message {
      padding-bottom: 20px;
    }
  }
}
