.rating__container {
  position: relative;

  width: 100%;
  height: 100px;
}

.rating__row {
  display: flex;
  width: 250px;
  height: 25px;
}

.rating__group {
  position: absolute;
  top: 20px;
  right: 0;
}

.rating__round {
  position: absolute;
  top: 70px;
  right: 0;
}

.text {
  position: absolute;
  top: 46px;
  right: -7px;

  width: 250px;
  height: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;

  opacity: .8;
  &_round {
    top: 95px;
  }
}

.gold::before {
  content: "★";
  position: relative;

  display: block;
  width: 25px;

  font-size: 30px;
  color: #ffd900;

  cursor: pointer;
}

.gold_strong::before {
  content: "★";
  position: relative;

  display: block;
  width: 25px;

  font-size: 30px;
  color: #ffd900!important;

  cursor: pointer;
}
.star::before {
  content: "★";
  position: relative;

  display: block;
  width: 25px;

  font-size: 30px;
  color: #00c49d;

  cursor: pointer;
}
