.sprint-container{
  height: 500px;
  width: 600px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px #616161;
  overflow: hidden;
}
.sprint-header{
  position: relative;
  height: 25%;
  background-color: #9E9E9E;
}
.sprint-score{
  position: absolute;
  top: 20px;
  left:20px;
  }
.sprint-marks-line{
  display: flex;
  justify-content: center;
  padding: 3%;
}
.sprint-mark{
  height: 20px;
  width: 20px;
  border: 1px solid #616161;
  border-radius: 50%;
  margin: 0 1%;
}
.activated{
  background-color: green;
}

.sprint-picture-block{
  height: 20%;
  width:20%;
  margin:  0 auto;
  border-bottom: solid 1px #616161;
  }
.sprint-display{
  display: flex;
  height: 30%;
  width: 80%;
  margin:  0 auto;
  flex-direction: column;
  justify-content: center;
  border-bottom: dotted 2px #616161;
}
.sprint-word{
   margin-bottom: 1%;
}
.sprint-controlls{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}
.sprint-button{
  padding: 19px 15px 21px;
  box-shadow: 0px 2px 5px 0px #616161;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.sprint-button--wrong{
  background-color: red;
  min-width: 162px;
}
.sprint-button--right{
  background-color: green;
  min-width: 162px;
}

// statistics

.sprint-result-header{
  margin-top: 5%;
  }
.sprint-statistics{
  align-self: stretch;
 }

.sprint-result-controlls{
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

// sart

.sprint-start-header{
  margin-top: 5%;
  text-transform: uppercase;
  font-size: 3rem;
}
.sprint-game-descr{
  margin-bottom: 1%;
}
.sprint-start-controlls {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

