.english-puzzle {
  width: 100%;
}

.ep-background {
  background: linear-gradient(rgba(8,15,26,0.2) 0%, rgba(17,17,46,0.5) 100%) center center/cover fixed,url(/src/assets/images/ep-images/ep-background.jpg) center center no-repeat fixed;
  background-size: cover;
}

.ep-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  &__right-side {
    display: flex;
  }
}

.ep-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text-translate {
    color: white;
    font-size: 2rem;
  }
}

.ep-board {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightpink;
  width: calc(100% - 35px);
  max-height: 521px;
  background: linear-gradient(rgba(8,15,26,0.6) 0%, rgba(17,17,46,0.3) 100%);
  &__line {
    width: calc(100% + 22px);
    display: flex;
    margin-left: -20px;
    height: 52px;
    overflow: hidden;
    border-bottom:  1px solid lightpink;
    &_active {
      height: 53px;
    }
    &:last-child {
      border: none;
    }
    &:focus {
      outline: none;
    }
    &_number {
      height: 25px;
      width: 25px;
      // background-color: #bbb;
      color: white;
      border: 1px solid lightpink;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      padding-top: 3px;
      // margin-bottom: 10px;
      // margin-top: 17px;
      // margin-right: 10px;
      margin: 17px 10px 10px 0px; 
      &-active {
        border: 2px solid red;
        padding-top: 1px;
        // background-color: white;
      }
    }
  }
}

.ep-board-wrapper {
  display: flex;
}

.ep-numbers {
  display: flex;
  flex-direction: column;
  width: 35px;
}

.ep-wrapper {
  overflow: hidden;
  width: calc(100% - 35px);
  margin-left: 35px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid lightpink;
}

.ep-sentences-word {
  width: 100px;
  height: 52px;
  line-height: 52px;
  font-size: 22px;
  color: #fff;
  background-color: #1c283b;
  text-align: center;

  border: 1px solid white;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
}

.Block--isClickable {
  position: relative;
  top: -52px;
}

.Block--isClickable:focus {
  outline: none;
}

.ep-play__field {
  // height: 40px;
  // margin-top: 20px;

  // border: 1px solid black;
  // border-radius: 5px;
}

.ep-play__buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ep-select {
  width: 60px;
  text-align-last: center;
  color: white;
  background-color: #00cdac;;
  border-radius: 8px;
}

.ep-label {
  color: white;
  font-size: 2rem;
  &:last-child {
    margin-left: 20px;
  }
}

.ep-wrongPosition {
  border-color: red;
}

.ep-rightPosition {
  border-color: #3be03b;
}

.ep-hidden {
  display: none;
}

.ep-transparent {
  opacity: 0;
}
