.english-puzzle {
  width: 1200px;
}

.ep-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  &__right-side {
    display: flex;
  }
  &__btn {
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #00cdac;
    color: #fff;
    border-radius: 5px;
    &:hover {
      background-color: #8ddad5;
      box-shadow: 2px 2px 3px 1px #00cdac;
      cursor: pointer;
    }
  }
}

.ep-tips {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mockData {
  display: flex;
  flex-direction: column;
}

.ep-sentences {
  margin-top: 20px;
  display: flex;
  &-word {
    border: 1px solid black;
    width: 100px;
    height: 20px;
    text-align: center;
    cursor: pointer;
  }
}

.ep-playground {
  height: 40px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.ep-play__buttons {
  margin-top: 20px;
  position: relative;
  left: 400px;
}

.ep-play__btn {
  width: 200px;
  height: 40px;
  background-color: #00cdac;
  color: #fff;
  border-radius: 5px;
  border: none;
  &:hover {
    background-color: #8ddad5;
    box-shadow: 2px 2px 3px 1px #00cdac;
  }
}

/* change selector to classname */
select {
  width: 60px;
  text-align-last: center;
}

label:last-child {
  margin-left: 20px;  
}

.autospeech {
  background-image: url(/src/assets/images/ep-icons/ep-audio.png);
  background-size: cover;
}

.tips {
  background-image: url(/src/assets/images/ep-icons/ep-tip.png);
  background-size: cover;
}

.speechsentence {
  background-image: url(/src/assets/images/ep-icons/ep-melody.png);
  background-size: cover;
}

.bg-image {
  background-image: url(/src/assets/images/ep-icons/ep-gallery.png);
  background-size: cover;
}

.autospeech-grey {
  background-image: url(/src/assets/images/ep-icons/ep-audio-grey.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);;
}
