.ep-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 36px 16px 16px;

  background-color: rgba(0, 0, 0, .6);
  border-radius: 0;
  display: flex;

  &__body {
    position: relative;
    padding: 20px 40px;
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;;
  }

  &__image {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid purple;
  }

  &__description {
    margin-top: 30px;
  }

  &__buttons {
    margin-top: auto;
    margin-bottom: 5px;
  }

  &_hidden {
    display: none;
  }
}