.statistics__container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;

// display: flex;

  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 784px;

// max-height: 100vh;
  height: 100%;
  margin: 0 auto;
  margin-left: -370px;
  padding: 42px 16px;

  text-align: center;

  background-color: #ffffff;
  border: 1px solid #e6e9ee;
  border-radius: 8px;
}

.statistics {
  &__title {
    font-weight: 300;
    font-size: 25px;
    line-height: .85;
    color: #37383c;
  }
  &__words-set {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    max-height: 286px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: auto;
    &_wrong {
      width: 100%;

      font-size: 12px;
      line-height: 1.33;
      color: #ed593b;
      text-transform: uppercase;
    }
    &_correct {
      width: 100%;

      font-size: 12px;
      line-height: 1.33;
      color: #28c38a;
      text-transform: uppercase;
    }
  }
  &__continue {
    margin-top: 24px;
    padding: 10px 42px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: $text-color;

    background-color: $main-color;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      color: $main-color;

      background: $text-color;
      border: 1px solid $main-color;
    }
  }
  &__back {
    margin-top: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: $main-color;
    text-decoration: underline;

    cursor: pointer;
  }
}

.wordBox {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

.soundBox {
  position: relative;

  display: inline-block;
  margin-right: 10px;

  line-height: 0;
}

.word-eng {
  max-width: calc(50% - 54px);
  margin-right: 6px;
  overflow: hidden;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #2582e7;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;

  cursor: pointer;
}

.word-trans {
  flex-grow: 1;
  max-width: calc(50% - 54px);
  overflow: hidden;

  font-size: 16px;
  line-height: 1.25;
  text-align: start;
  color: #37383c;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}

.wrong_title,
.correct_title {
  font-weight: 700;
}


