.header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  height: 46px;
  padding: 0 20px;

  background-image: $color-header;

  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
}
