.short-stat {
  &__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;

    background-color: $short-stat-background;
    border-radius: 1rem;
  }

  &__logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;

    background: url(../assets/svg/target.svg) center/50px no-repeat;
    cursor: pointer;
  }
  &__title {
    margin-bottom: 2rem;

    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #2a487a;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    font-size: 1.1rem;

    border-bottom: 1px solid $short-stat-border-color;
    &_finished {
      color: #4a98a3;
    }
    &_correct {
      color: #64d894;
    }
    &_new {
      color: #fe9b5a;
    }
    &_series {
      color: #1e3e73;
    }
  }

  &__data {
    align-self: center;
  }

  &__buttons-block {
    display: flex;
    justify-content: center;
  }

  &__button {
    align-self: center;
    width: 140px;
    margin: 15px 5px 5px;
    padding: 5px 0;

    font-weight: 600;
    font-size: 1.2rem;
    color: #ffffff;

    background-color: $short-stat-button-color;
    border: 1px solid $short-stat-button-color;
    border-radius: 8px;
    outline: none;
    &:hover {
      color: $short-stat-button-color;

      background-color: #ffffff;
      cursor: pointer;
    }
  }
}
