.notification-modal{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 398px;
  padding: 36px 0 22px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,.16);
  &__title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #37383c;
 }
  }
