.settings {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-height: 80%;
  padding: 15px;
  overflow: auto;

  background-image: $color-modal-settings;
  border-radius: 5px;

  @include font($size: 1.6rem, $height: 2rem, $weight: normal);

  &__overlay {
    position: absolute;
    top: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;

    background-color: rgba(45, 48, 58, .4);

    transition: opacity ease-in-out .5s;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  &__button {
    margin: 0 25px;
  }

  &__input,
  &__study-select,
  &__mode-select {
    width: 135px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;

    cursor: pointer;
  }

  .container {
    padding-left: 20px;
  }
}
