.app {
  // min-height: 100vh;
  width: 100%;
}

.flying-word {
  position: absolute;
  left: 50%;

  width: 50px;
  height: 50px;
  margin-left: -50px;

  font-size: 2em;
  color: $text-color;
  &_hide {
    display: none;
  }
}


.app__content__translation-box {
  position: absolute;
  top: 35%;

  display: flex;
  justify-content: center;
  width: 100%;

  font-size: 1.5em;
  color: $text-color;
  ;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    margin-right: 20px;

    cursor: pointer;

    &:hover {
      color: white;

      background: #3d7c807a;
    }
  }
}

span .keyboard-num {
  max-width: 10px;
  min-height: 10px;
  margin: 0;

  font-size: .5em;
}

.cristal {
  position: absolute;
  bottom: -35px;
  left: 50%;

  width: 30px;
  margin-left: -20px;
  &__img {
    width: 100%;

    animation: mover 1s infinite  alternate;

    @keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.hideBackgroundImg {
  background-image: none;
}

.app__background {
  background-image: url("/src/assets/images/savannah-bg.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;

  transition: all 1s ease;
}

.bang {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 2px;
  height: 18px;
  margin-left: -6px;

  background: $text-color;
}
