.app__header {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  height: 46px;
  padding: 0 20px;

  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
}
