.statistics {
  width: 100vw;
  height: calc(100vh - 93px);
  &__wrapper {
    width: 1200px;
    margin: 0 auto;
    // TODO
    max-height: 100%;
    overflow: scroll;
  }

  &-title {
    color: rgb(255, 99, 132);
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: .2rem;
  }

  &__total, &__words, &__games {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    &-container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 20px;
    }
  }

  &__element {
    width: 250px;
    text-align: center;
    color: #2582e7;
    font-weight: 600;
    font-size: 1.6rem;
    & > span {
      color: #225475;
    }
  }

  &__chart {
    width: 800px;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 1200px) {
  .statistics {
    &__wrapper {
      width: 800px;
    }
  }
}

@media screen and (max-width: 800px) {
  .statistics {
    &__wrapper {
      width: 100%;
    }
    &__chart {
      width: 100%;
    }
    &__element {
      font-size: 1.4rem;
    }
    &-title {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .statistics {
    &__total, &__words, &__games {
      margin-top: 20px;
      &-container {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
    &__element {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__chart {
      margin-top: 0;
    }
  }
}