@import "speak_it-constants";
.speak__translation {
  width: max-content;
  height: 24px;
  margin: 25px auto 0px;

  font: bold 24px arial, helvetica, sans-serif;
  line-height: 24px;
  color: #f8e7e7;
  text-shadow: 0 1px 1px #888787;

  border-bottom: 1px solid black;

@extend %box_shadow;
}
.inner_container {
  display: flex;
  width: 27vw;
  margin: 1px auto;
}
.icon {
  width: 40px;
  height: 33px;

  background-repeat: no-repeat;
  background-size: 33px;
  cursor: pointer;
}
.mic {
  background-image: url(../assets/svg/mic1.png);
}
.mic:hover {
  background-image: url(../assets/svg/mic2.png);
}
.mic_active {
  background-image: url(../assets/svg/mic3.png)!important;
}
.clear {
  background-image: url(../assets/svg/clear1.png);
}
.clear:hover {
  background-image: url(../assets/svg/clear2.png);
}
.inner {
  display: block;
  width: 22vw;
  max-width: 1140px;
  height: 22px;
  margin: 13px auto;

  text-align: center;
  text-shadow: 0 1px 1px $color_shadow;

  border: 0;
  border-bottom: 1px solid black;

@extend %text;

@extend %box_shadow;
}
.not_display {
  display: none!important;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .inner_container {
    width: 60vw;
  }
  .inner {
    width: 50vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .inner_container {
    width: 40vw;
  }
  .inner {
    width: 35vw;
  }
}
