@import "speak_it-constants";
.modal_container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 160px 16px 16px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0;
}

.modal_window{
    
    z-index: 5;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398px;
    padding: 36px 0 22px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.16);
}
.modal_statistic{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: cornsilk;
    z-index: 4;
}
.modal_view{
    padding: 10px 2vw;
    margin-top: 20px;
}
.modal_close{
    padding: 10px 2vw;
    margin-top: 20px;
}
.modal_cancel{
    padding: 10px 2vw;
    margin-top: 20px;
}





.app__button_view{
    width: 250px;
    margin-top: 48px;
    padding: 11px 0;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
}