@import "speak_it-constants";
.close {
    top: 5px;
}
.raiting_container {
    position: absolute;
    right: 0;
    top: 90px;
}
.raiting_row{
    display: flex;
    @extend %raiting_row;
}
.text{
    @extend %text;
    color: $color_text_hover;
    @extend %raiting_row;
    top: 40px;
    right: 47px;
}
.result{
    @extend %raiting_row;
    display: flex;
}
.group, .round{
    display: block;
    width: 25px;
    cursor: pointer; 
    position: relative;
    font-size: 30px;
}
.gold{
    color: $color_star_choose;
  }
  .gold_strong{
    color: $color_star_choose!important;
  }
  .star{
    color: $color_star_main;
  }
.ress{
    float: right;
}
  .app__modal__box {
    margin: auto;
    
}
.app__modal{
  display: block;
}

.header_close {
  position: sticky;
  padding: 0 20px;
  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
}


@media only screen and (max-width: 1050px) {
  .raiting_container {
      position: inherit;
      margin: auto;
      width: 230px;
      margin-top: 15px;
  }

  .raiting_row, .text, .result {
      justify-content: center;
      text-align: center;
  }
}
