body {
    display: -webkit-flex;
    display:         flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    background-size: cover;
    background-blend-mode: multiply, multiply;
    background-image: url(../assets/images/savannah-bg.svg);
    background-size: 100%;
  }
footer, header{
    position: sticky;
    z-index: 1;
    justify-content: center;
    height: 47px;
    padding: 0 20px;
    background-image: radial-gradient(circle, #8ddad5 0%, #00cdac 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 47px;
    text-align: center;
}
footer {
    bottom: 0;
}
header {
    top: 0;
}
.container {
    max-width: 1200px;
    /* margin: auto; */
   
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}